{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center"> Atualiza Course </h2>
<hr>
{%- for mensagem in get_flashed_messages() %}
<div class="alert-danger">
    {{mensagem}}
</div>
{%- endfor %}
<form action="{{url_for('atualiza_course', id=course.id)}}" method="POST" class="form-control">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" value="{{course.nome}}" required>
    <label>Descricao</label>
    <textarea class="form-control"  name="descricao" required>{{course.descricao}}</textarea>
    <label>CH</label>
    <input class="form-control" type="text" name="ch" value="{{course.ch}}" required>
    <button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}