{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center"> Lista de Courses </h2>
<hr>
<a href="{{url_for('cria_course')}}" class="btn btn-secondary">Adicionar Course</a>
<br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">nome</th>
        <th scope="col">descricao</th>
        <th scope="col">CH</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}

    <tr>
        <td>{{course.id}}</td>
        <td>{{course.nome}}</td>
        <td>{{course.descricao}}</td>
        <td>{{course.ch}}</td>
        <td>
            <a href="{{course.id}}/atualiza_course" class="btn btn-secondary btn-xs">Editar</a>
            <a href="{{course.id}}/remove_course" onclick="return confirm('Deseja excluir esse registro')"
               class="btn btn-danger btn-xs">Excluir</a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock conteudo %}