{% extends 'base.html' %}
{% block conteudo %}
<h3 style="text-align:center;">Lista de Filmes</h3>
<hr>
<div class="row">
    {% for filme in filmes %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="http://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{filme.title}}</h5>
                <p class="card-text">{{filme.overview}}</p>
                <hr>
                <a href="#" class="btn btn-primary">{{filme.vote_average}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock conteudo %}
