{% extends 'base.html' %}
{% block conteudo %}
    <h2 style="text-align: center"> Lista de Frutas </h2>
    <hr>
    <ul class="list-group">
        {% for fruta in frutas %}
        <li class="list-group-item">{{fruta}}</li>
        {% endfor %}
        <form action="{{url_for('function')}}" method="POST">
            <div class="form-group">
                <label for="exemploFruta">Fruta</label>
                <input class="form-control" id="exemplofruta" type="text" name="fruta"
                       placeholder="digite o nome de uma fruta" required>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </form>
    </ul>
    {% endblock conteudo %}
