    {% extends 'base.html' %}
    {% block conteudo %}
    <h2 style="text-align: center"> Adicionar Novo Course </h2>
    <hr>
    {%- for mensagem in get_flashed_messages() %}
        <div class="alert-danger">
            {{mensagem}}
        </div>
    {%- endfor %}
    <form action="{{url_for('cria_course')}}" method="POST" class="form-control">
        <label>Nome</label>
        <input class="form-control" type="text" name="nome" placeholder="Nome do Course" required>
        <label>Descricao</label>
        <input class="form-control" type="text" name="descricao" placeholder="Descricao do Course" required>
        <label>CH</label>
        <input class="form-control" type="number" name="ch" placeholder="CH do course" required>
        <button class="btn btn-success">Adicionar</button>
    </form>
    {% endblock conteudo %}